<!--COMMENT ITEM-->
<div class="comment_item flex w-[100%] h-[128px] bg-gray-700 border-2 rounded-md items-center">
    <div class="p-2 w-[18%] flex flex-col items-center">
        <p>{{ comment.author_username }}</p>
        <p class="mt-8">{{ comment.created_at.format("%d.%m.%Y %H:%M") }}</p>
    </div>
    <div class="h-3/4 w-[1px] bg-gray-600 mx-2"></div>
    <div class="comment_content w-[60%]">
        <p>{{ comment.content }}</p>
    </div>
</div>