<div
  id="sidebar_extended"
  class="flex pt-4 gap-2 items-center flex-col w-48 bg-gray-800 h-[100vh] border-r-[1px] rounded-r-lg border-cyan-200 text-white"
>
  <a href="/?category=Vanilla">
    <img src="/static/images/logo.svg" alt="CumHub Logo" width="120" />
  </a>
  {% if user_info.clone().is_some() %}

  <p class="mt-2 text-xl">My Cumhub</p>
  <div class="w-full h-[1px] bg-slate-500"></div>

  <div id="my_list_container">
    <ul id="categories_list" class="w-full">
      <li class="flex flex-col w-full items-center gap-2 mt-2">
        <a href="/subscribed">Subscribed</a>
        <div class="w-2/3 h-[1px] bg-slate-500"></div>
      </li>
    </ul>
  </div>

  {% endif %}
  <p class="mt-2 text-xl">Categories</p>
  <div class="w-full h-[1px] bg-slate-500"></div>

  <div id="list_container" class="h-2/3">
    <ul id="categories_list" class="w-full">
      {% for current_category in categories %}
      <li class="flex flex-col w-full items-center gap-2 mt-2">
        <a href="/?category={{current_category}}"> {{ current_category }}</a>
        <div class="w-2/3 h-[1px] bg-slate-500"></div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
