<p class="text-white">
  You are already logged in. <br />
  Do you want to logout?
</p>
<button
  class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
  hx-post="/logout"
  hx-trigger="click"
  hx-on::after-request="window.location.href = '/';"
>
  Logout
</button>
