{% if !already_logged_in || user_info.clone().is_none() %}
<div
  id="user_bar"
  class="gap-2 items-center w-full pl-12 pt-8 text-cyan-200 flex justify-end px-10"
>
  <a
    href="/login"
    class="flex items-center gap-2 border-cyan-200 border-2 pl-2 pr-3 py-1 rounded-lg hover:pr-4"
  >
    <span class="material-symbols-outlined"> login </span>
    <p>Login</p>
  </a>
</div>
{% else %}
<div
  id="user_bar"
  class="gap-2 items-center w-full pl-12 pt-8 text-cyan-200 flex justify-end px-10"
>
  {% if !user_info.clone().unwrap().has_premium %}
  <a
    href="/premium"
    class="flex items-center justify-center gap-2 px-2 hover:pr-4"
    ̰
  >
    <span class="material-symbols-outlined"> license </span>
    <p>Get Premium!</p>
  </a>
  {% endif %}
  <a
    href="/upload"
    class="flex items-center gap-2 border-blue-400 text-blue-400 border-2 pl-2 pr-3 py-1 rounded-lg hover:pr-4"
  >
    <span class="material-symbols-outlined"> download </span>
    <p>Upload</p>
  </a>
  <div class="dropdown pr-10">
    <button
      onclick="myFunction()"
      id="dropbtn"
      class="flex justify-between items-center border-blue-400 text-blue-400 hover:border-b-0 border-b-2 pl-2 pr-3 py-1 truncate gap-2"
    >
      {% if user_info.clone().unwrap().has_premium %}
      <span class="material-symbols-outlined"> workspace_premium </span>
      {% endif %}
      <div id="navbar_current_profile_picture" class="flex justify-center my-4">
        <img class="w-[2rem] h-[2rem] rounded-[50%] object-cover bg-white"
        src="{{
        user_info.clone().unwrap().profile_picture.unwrap_or("https://wallpapers-clan.com/wp-content/uploads/2022/08/default-pfp-19.jpg".to_string()).to_string()
        }}" alt="Profile Picture" />
      </div>
      {{ user_info.clone().unwrap().username }}
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a
        hx-on:click="{
            document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            window.location.href = '/';
        }"
        href="/login"
        class="flex w-full items-center gap-2 border-2 pl-2 pr-3 py-1 rounded-lg hover:pr-4"
      >
        <p>Logout</p>
      </a>
      <a
        href="/account_settings/{{ user_info.clone().unwrap().id }}"
        class="flex w-full items-center gap-2 border-2 pl-2 pr-3 py-1 rounded-lg hover:pr-4"
      >
        <p>Account Settings</p>
      </a>
      <!-- {% if user_info.clone().unwrap().has_premium %}
      <a
        href="/premium"
        class="flex w-full items-center gap-2 border-2 pl-2 pr-3 py-1 rounded-lg hover:pr-4"
      >
        <p>Cancel Premium</p>
      </a>
      {% endif %} -->
    </div>
  </div>
</div>
{% endif %}

<script>
  function myFunction() {
    document.getElementById('myDropdown').classList.toggle('show')
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('#dropbtn')) {
      var dropdowns = document.getElementsByClassName('dropdown-content')
      var i
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i]
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show')
        }
      }
    }
  }
</script>

<style>
  #dropbtn {
    min-width: 5rem;
    max-width: 15rem;
  }
</style>
