<div class="flex flex-col aspect-video">
    <a href="/video/{{ video.id }}">
        <div class="w-full aspect-video bg-white">
            <img src="{{ video.url }}">
        </div>
    </a>
    <p class="text-white text-clip max-w-full line-clamp-1 w-full max-h-[2rem] overflow-hidden">
        {{ video.title }}
    </p>

    <!--VIDEO STATS-->
    <div class="w-full flex justify-end gap-4">
        <div class="flex gap-2">
            {% if video.likes >= 0 %}
                <span class="material-symbols-outlined text-green-700">
                    thumb_up
                </span>
            {% else %}
                <span class="material-symbols-outlined text-red-700">
                    thumb_down
                </span>
            {% endif %}
            <p class="text-white">{{ video.likes }}</p>
        </div>
        <div class="flex gap-2">
            <span class="material-symbols-outlined text-slate-400">
                visibility
            </span>
            <p class="text-white">{{ video.views }}</p>
        </div>
    </div>
</div>