<div id="content_grid" class="content_grid">
  {% if videos.len() == 0 %}
  <div class="w-full h-full flex pl-[4rem]">
    <h3 class="text-white text-xl text-gray-600">No Videos Found...</h3>
  </div>
  {% endif %} {% for video in videos %} {% include "common/video.html" %} {%
  endfor %}
</div>
