<div class="w-full flex items-center justify-center gap-4" xmlns:hx-on="http://www.w3.org/1999/xhtml">
  <a href="/" class="material-symbols-outlined text-white"> close </a>
  <p class="text-white text-3xl">Upload video!</p>
</div>

<form
  hx-post="/video"
  hx-encoding="multipart/form-data"
  hx-target="#upload_container"
  class="w-2/5 h-auto py-10 bg-gray-800 rounded-xl flex flex-col items-center"
>
  {% if uploaded %} {% include "upload_page/upload_successful.html" %} {% else
  %}
  <div
    id="upload_container"
    class="w-full h-auto gap-4 pb-10 bg-gray-800 text-white rounded-xl flex flex-col items-center p-5"
  >
    <div
      id="video_title_div"
      class="w-full flex items-center gap-4 justify-between"
    >
      <label for="video_title text-xl w-[20%]">Video Title: </label>
      <input
        disabled
        id="video_title"
        type="text"
        name="title"
        class="w-[80%] p-[0.5rem] disabled:opacity-75"
        placeholder="Video Title"
      />
    </div>
    <div
      id="video_description_div"
      class="w-full flex items-center gap-4 justify-between"
    >
      <label for="description_input text-xl w-[20%]">Description: </label>
      <textarea
        disabled
        maxlength="255"
        rows="3"
        name="description"
        id="video_description"
        type="text"
        class="disabled:opacity-75 w-[80%] resize-none text-black rounded-md p-[0.5rem]"
        placeholder="Description"
      ></textarea>
    </div>
    <div
      id="video_upload_container"
      class="w-full flex items-center gap-4 justify-between"
    >
      <label for="video_input text-xl w-[20%]">Video file: </label>
      <input
        id="video_input"
        hx-on:change="{
                  handleUpload();
              }"
        class="w-[80%]"
        name="video"
        type="file"
        placeholder="Select file to upload"
        accept="video/*"
      />
    </div>
    <span id="loader" class="loader hidden"></span>
    <div
      id="category_div"
      class="w-full flex items-center gap-6 pl-4 justify-start"
    >
      <label for="category_select text-xl w-[20%]">Category: </label>
      <select
        multiple
        name="category"
        id="category_select"
        class="text-black p-1 rounded-md disabled:opacity-75"
        disabled
      >
        <option value="Vanilla">Vanilla</option>
        <option value="Bdsm">Bdsm</option>
        <option value="Lesbian">Lesbian</option>
        <option value="Fetish">Fetish</option>
        <option value="Femdom">Femdom</option>
        <option value="Anal">Anal</option>
        <option value="Oral">Oral</option>
        <option value="Group">Group</option>
        <option value="Gay">Gay</option>
        <option value="Solo">Solo</option>
      </select>
    </div>

    <div
            id="is_premium_container"
            class="w-full flex items-center gap-4 justify-between"
    >
      <label for="is_premium_input text-xl w-[20%]">Premium content: </label>
      <input type='hidden' value='off' name='is_premium'>
      <input
              id="is_premium_input"
              class="w-[80%]"
              name="is_premium"
              type="checkbox"
              checked
      />

    </div>
    <div
      id="submit_div"
      class="w-full flex items-center gap-6 pl-4 justify-center"
    >
      <button
        id="upload_submit_button"
        disabled
        class="bg-blue-700 disabled:opacity-50 bg-blue-700 hover:bg-blue-800 p-3 text-white rounded-md"
      >
        Upload
      </button>
    </div>
  </div>
  {% endif %}
</form>
