<div
  id="upload_success"
  class="flex flex-col items-center justify-center gap-4 w-full"
>
  <div class="text-white text-2xl">Video uploaded successfully!</div>
  <div class="flex justify-between w-2/3">
    <a
      class="flex justify-center w-[7.5rem] disabled:opacity-75 disabled:bg-gray-600 bg-blue-700 hover:bg-blue-800 p-3 text-white rounded-md"
      href="/upload"
    >
      Upload more
    </a>
    <a
      href="/"
      class="flex justify-center w-[7.5rem] disabled:opacity-75 disabled:bg-gray-600 bg-blue-700 hover:bg-blue-800 p-3 text-white rounded-md"
    >
      Home
    </a>
  </div>
</div>
