<div
  id="account_settings_page_content"
  class="w-full min-h-[100vh] flex flex-col items-center overflow-scroll"
>
  <div
    class="flex flex-col w-full h-full p-10 gap-4 justify-center justify-center items-center"
  >
    <a href="/" class="w-full flex justify-start pl-8 mt-4">
      <span class="material-symbols-outlined text-gray-400">
        arrow_back_ios
      </span>
    </a>
    <div
      class="flex flex-col w-full h-full bg-gray-800 border-cyan-300 border-2 p-10 text-white rounded-md justify-center items-center gap-2"
    >
      <h5>Username:</h5>
      <form
        class="w-full h-full flex flex-col justify-center items-center"
        id="username_form"
        hx-patch="/account_settings/username/{{user_id}}"
        hx-target="#body"
      >
        <input
          name="username"
          value="{{username}}"
          placeholder="Username"
          class="w-1/2"
        />
        <button
          type="submit"
          class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
        >
          Apply
        </button>
      </form>
      {% if username_success %}
      <div
        id="username_success"
        class="w-full h-full text-green-400 flex justify-center"
      >
        Operation successful!
      </div>
      {% endif %}
      {% if username_message.is_some() %}
      <div
        id="username_error"
        class="w-full h-full text-red-400 flex justify-center"
      >
        {{ username_message.clone().unwrap() }}
      </div>
      {% endif %}
    </div>
    <div
      class="flex flex-col w-full h-full bg-gray-800 border-cyan-300 border-2 p-10 text-white rounded-md gap-2 items-center"
    >
      <h5>Profile Picture:</h5>
      <div id="current_profile_picture" class="flex justify-center my-4">
        <img
          class="w-[10rem] h-[10rem] rounded-[50%] object-cover bg-white"
          src="{{profile_picture}}"
          alt="Profile Picture"
        />
      </div>
      <form
        class="w-full h-full flex flex-col justify-center items-center"
        id="profile_picture_form"
        hx-patch="/account_settings/profile_pic/{{user_id}}"
        hx-target="#body"
      >
        <input
          name="profile_pic_url"
          value="{{profile_picture}}"
          placeholder="Profile Picture"
          class="w-1/2"
        />
        <button
          class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
        >
          Apply
        </button>
        {% if profile_pic_success %}
        <div
          id="profile_pic_success"
          class="w-full h-full text-green-400 flex justify-center"
        >
          Operation successful!
        </div>
        {% endif %}
        {% if profile_pic_message.is_some() %}
        <div
                id="profile_pic_error"
                class="w-full h-full text-red-400 flex justify-center"
        >
          {{ profile_pic_message.clone().unwrap() }}
        </div>
        {% endif %}
      </form>
    </div>
    <div
      class="flex flex-col w-full h-full bg-gray-800 border-cyan-300 border-2 p-10 text-white rounded-md justify-center items-center gap-2"
    >
      <h5>Profile Description:</h5>
      <form
        class="w-full h-full flex flex-col justify-center items-center"
        id="description_form"
        hx-patch="/account_settings/description/{{user_id}}"
        hx-target="#body"
      >
        <textarea
          maxlength="255"
          name="description"
          rows="3"
          placeholder="Enter your comment"
          class="text-lg w-[90%] resize-none text-black rounded-sm p-1"
        >
        {{ description}}
        </textarea>
        <button
          class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
        >
          Apply
        </button>
        {% if description_success %}
        <div
                id="profile_pic_success"
                class="w-full h-full text-green-400 flex justify-center"
        >
          Operation successful!
        </div>
        {% endif %}
        {% if description_message.is_some() %}
        <div
                id="profile_pic_error"
                class="w-full h-full text-red-400 flex justify-center"
        >
          {{ description_message.clone().unwrap() }}
        </div>
        {% endif %}
      </form>
    </div>
    <div
      class="flex flex-col w-full h-full bg-gray-800 border-cyan-300 border-2 p-10 text-white rounded-md justify-center items-center gap-2"
    >
      <h5>Change Password:</h5>
      <form
        class="w-full h-full flex flex-col justify-center items-center gap-4"
        id="password_form"
        hx-patch="/account_settings/password/{{user_id}}"
        hx-target="#body"
      >
        <div id="old_password_div" class="w-[90%] flex flex-col gap-2">
          <label for="old_password_input" class="text-white text-xl">
            Old Password:
          </label>
          <div
            id="old_password_input_div"
            class="px-2 password_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
            hx-on:click="{
                document.getElementById('old_password_input').focus();
            }"
          >
            <span class="material-symbols-outlined text-white"> lock </span>
            <input
              type="password"
              id="old_password_input"
              hx-on:focus="{
                    document.getElementById('old_password_input_div').classList.remove('border-white'); 
                    document.getElementById('old_password_input_div').classList.add('border-cyan-300');
                }"
              hx-on:blur="{
                    document.getElementById('old_password_input_div').classList.remove('border-cyan-300');      
                    document.getElementById('old_password_input_div').classList.add('border-white');                   
                }"
              placeholder="Old Password"
              class="w-full text-white h-full bg-transparent !outline-none"
              name="old_password"
            />
          </div>
        </div>

        <div id="new_password_div" class="w-[90%] flex flex-col gap-2">
          <label for="new_password_input" class="text-white text-xl">
            New Password:
          </label>
          <div
            id="new_password_input_div"
            class="px-2 password_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
            hx-on:click="{
                  document.getElementById('new_password_input').focus();
              }"
          >
            <span class="material-symbols-outlined text-white"> lock </span>
            <input
              type="password"
              id="new_password_input"
              hx-on:focus="{
                      document.getElementById('new_password_input_div').classList.remove('border-white'); 
                      document.getElementById('new_password_input_div').classList.add('border-cyan-300');
                  }"
              hx-on:blur="{
                      document.getElementById('new_password_input_div').classList.remove('border-cyan-300');      
                      document.getElementById('new_password_input_div').classList.add('border-white');                   
                  }"
              placeholder="New Password"
              class="w-full text-white h-full bg-transparent !outline-none"
              name="new_password"
            />
          </div>
          <span id="password_error" class="invisible text-red-800 text-sm"
            >Password must have one lowercase letter, one capital letter, one
            number and has at least 8 characters!</span
          >
        </div>

        <div id="new_password_div" class="w-[90%] flex flex-col gap-2">
          <label for="new_password_input" class="text-white text-xl">
            Retype New Password:
          </label>
          <div
            id="new_password_retype_input_div"
            class="px-2 password_input_retype_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
            hx-on:click="{
                    document.getElementById('new_password_retype_input').focus();
                }"
          >
            <span class="material-symbols-outlined text-white"> lock </span>
            <input
              type="password"
              id="new_password_retype_input"
              hx-on:focus="{
                        document.getElementById('new_password_retype_input_div').classList.remove('border-white'); 
                        document.getElementById('new_password_retype_input_div').classList.add('border-cyan-300');
                    }"
              hx-on:blur="{
                        document.getElementById('new_password_retype_input_div').classList.remove('border-cyan-300');      
                        document.getElementById('new_password_retype_input_div').classList.add('border-white');                   
                    }"
              placeholder="Retype New Password"
              class="w-full text-white h-full bg-transparent !outline-none"
            />
          </div>
          <span
            id="password_confirm_error"
            class="invisible text-red-800 text-sm"
            >Passwords must match!</span
          >
        </div>
        <button
          class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
        >
          Apply
        </button>
      </form>
      {% if password_success %}
      <div
        id="password_success"
        class="w-full h-full text-green-400 flex justify-center"
      >
        Operation successful!
      </div>
      {% endif %}
      {% if password_message.is_some() %}
      <div
              id="password_error_message"
              class="w-full h-full text-red-400 flex justify-center"
      >
        {{ password_message.clone().unwrap() }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Lol kinda making VueJS out of it but ok XD -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    addPasswordFieldListeners()
  })

  function passwordFormatInvalid(password) {
    const lowerCaseLetters = /[a-z]/g
    const upperCaseLetters = /[A-Z]/g
    const numbers = /[0-9]/g

    const hasLowerCaseLetter = password.match(lowerCaseLetters)
    const hasUpperCaseLetter = password.match(upperCaseLetters)
    const hasNumber = password.match(numbers)

    return (
      password.length < 8 ||
      password.length > 32 ||
      !hasLowerCaseLetter ||
      !hasUpperCaseLetter ||
      !hasNumber
    )
  }

  function addPasswordFieldListeners() {
    const password_error = document.getElementById('password_error')
    const password_input_div = document.getElementById('new_password_input_div')
    const password_confirm_error = document.getElementById(
      'password_confirm_error'
    )
    const password_input = document.getElementById('new_password_input')
    const password_confirm_input = document.getElementById(
      'new_password_retype_input'
    )

    const password_confirm_input_div = document.getElementById(
      'new_password_retype_input_div'
    )

    password_input.addEventListener('input', (event) => {
      const inputValue = event.target.value
      if (passwordFormatInvalid(inputValue)) {
        password_error.classList.remove('invisible')
        password_input_div.classList.add('password_input_error')
      } else {
        password_error.classList.add('invisible')
        password_input_div.classList.remove('password_input_error')
      }

      if (
        password_confirm_input.value !== '' &&
        password_input.value !== password_confirm_input.value
      ) {
        password_confirm_error.classList.remove('invisible')
        password_confirm_input_div.classList.add('password_input_error')
      } else {
        password_confirm_error.classList.add('invisible')
        password_confirm_input_div.classList.remove('password_input_error')
      }
    })

    password_confirm_input.addEventListener('input', () => {
      if (
        password_confirm_input.value !== '' &&
        password_input.value !== password_confirm_input.value
      ) {
        password_confirm_error.classList.remove('invisible')
        password_confirm_input_div.classList.add('password_input_error')
      } else {
        password_confirm_error.classList.add('invisible')
        password_confirm_input_div.classList.remove('password_input_error')
      }
    })
  }
</script>
