<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cumhub</title>
    <link rel="shortcut icon" type="img/png" href="/static/img/turn.png" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/common/components.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="static/scripts/htmx.min.js"></script>
  </head>

  <body id="body" class="bg-gray-900 flex flex-row">
    {% block content %} {% include "./common/sidebar.html" %}
    <div id="main_page_content" class="w-full h-[100vh] flex flex-col ml-48">
      <p class="w-full pl-[4rem] text-white text-2xl">Sorry page not found!</p>
    </div>
    {% endblock %}
  </body>
</html>
