<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cumhub</title>
    <link rel="shortcut icon" type="img/png" href="static/img/turn.png" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/common/components.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="/static/scripts/htmx.min.js"></script>
    <script src="/static/scripts/common.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        addPasswordFieldListeners()
      })

      function passwordFormatInvalid(password) {
        const lowerCaseLetters = /[a-z]/g
        const upperCaseLetters = /[A-Z]/g
        const numbers = /[0-9]/g

        const hasLowerCaseLetter = password.match(lowerCaseLetters)
        const hasUpperCaseLetter = password.match(upperCaseLetters)
        const hasNumber = password.match(numbers)

        return (
          password.length < 8 ||
          password.length > 32 ||
          !hasLowerCaseLetter ||
          !hasUpperCaseLetter ||
          !hasNumber
        )
      }

      function addPasswordFieldListeners() {
        const password_error = document.getElementById('password_error')
        const password_confirm_error = document.getElementById(
          'password_confirm_error'
        )
        const password_input = document.getElementById('password_input')
        const password_confirm_input = document.getElementById(
          'password_confirm_input'
        )

        const password_confirm_input_div = document.getElementById(
          'password_confirm_input_div'
        )

        password_input.addEventListener('input', (event) => {
          const inputValue = event.target.value
          if (passwordFormatInvalid(inputValue)) {
            password_error.classList.remove('invisible')
            password_input_div.classList.add('password_input_error')
          } else {
            password_error.classList.add('invisible')
            password_input_div.classList.remove('password_input_error')
          }

          if (
            password_confirm_input.value !== '' &&
            password_input.value !== password_confirm_input.value
          ) {
            password_confirm_error.classList.remove('invisible')
            password_confirm_input_div.classList.add('password_input_error')
          } else {
            password_confirm_error.classList.add('invisible')
            password_confirm_input_div.classList.remove('password_input_error')
          }
        })

        password_confirm_input.addEventListener('input', () => {
          if (
            password_confirm_input.value !== '' &&
            password_input.value !== password_confirm_input.value
          ) {
            password_confirm_error.classList.remove('invisible')
            password_confirm_input_div.classList.add('password_input_error')
          } else {
            password_confirm_error.classList.add('invisible')
            password_confirm_input_div.classList.remove('password_input_error')
          }
        })
      }
    </script>
  </head>

  <body
    id="body"
    class="bg-gray-900 flex flex-col justify-center items-center flex-row w-[100vw] h-[100vh] gap-4"
  >
    {% block content %} {% include "./register_page/page_content.html" %} {%
    endblock %}
  </body>
</html>
