<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cumhub</title>
    <link rel="shortcut icon" type="img/png" href="static/img/turn.png" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/common/components.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="static/scripts/htmx.min.js"></script>
    <script src="/static/scripts/common.js"></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', function () {
        let video_input = document.getElementById('video_title')
        video_input.addEventListener('change', (e) => {
          if (!!e.target.value && e.target.value !== '') {
            document.getElementById('upload_submit_button').disabled = false
          } else {
            document.getElementById('upload_submit_button').disabled = true
          }
        })
      })

      function toggleLoadingStyles() {
        document
          .getElementById('video_upload_container')
          .classList.toggle('hidden')
        document
          .getElementById('video_upload_container')
          .classList.toggle('inline-block')
        document.getElementById('loader').classList.toggle('hidden')
      }

      function fileUploaded() {
        toggleLoadingStyles()
        document.getElementById('video_title').disabled = false
        document.getElementById('video_description').disabled = false
        document.getElementById('category_select').disabled = false
      }

      function handleUpload(e) {
        toggleLoadingStyles()
        fileUploaded()
      }
    </script>
  </head>

  <body
    id="body"
    class="bg-gray-900 flex flex-col justify-center items-center flex-row w-[100vw] h-[100vh] gap-4"
  >
    {% block content %} {% include "./upload_page/page_content.html" %} {%
    endblock %}
  </body>
</html>
