<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cumhub</title>
    <link rel="shortcut icon" type="img/png" href="img/turn.png">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common/components.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="/static/scripts/htmx.min.js"></script>
</head>

<body id="body" class="bg-gray-900 flex flex-row">

{% block content %}
    {% include "./common/sidebar.html" %}
    {% include "./video_page/page_content.html" %}
{% endblock %}

    <!-- Video Streaming -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Ensure this script runs after the included content is loaded
            const videoPlayer = document.getElementById('videoPlayer');
            if (videoPlayer) {
                const videoId = '{{ video.id }}'; // Make sure video.id is accessible here

                fetch(`/api/video/${videoId}`)
                .then(response => {
                    if(response.ok) {
                        return response.blob();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(blob => {
                    const videoUrl = URL.createObjectURL(blob);
                    videoPlayer.src = videoUrl;
                })
                .catch(error => {
                    console.error('Error fetching video:', error);
                    // Handle errors, possibly update the UI
                });
            }
        });
    </script>

<!-- Frontend likecount increment/decrement -->
<script>
    let video_liked = '{{ user_rating.is_some() }}' === 'true';

    function changeCounter() {

        let ratingCount = document.getElementById('ratingCount');

        if (video_liked) {
            ratingCount.textContent = parseInt(ratingCount.textContent) - 1;
            video_liked = false;
        } else {
            ratingCount.textContent = parseInt(ratingCount.textContent) + 1;
            video_liked = true;
        }
    }

    function handleClick() {
        event.preventDefault();
        changeCounter();
    }
</script>

</body>

</html>