<div
  id="premium_page_content"
  class="w-full h-[100vh] flex flex-col items-center justify-center"
>
  {% if user_info.clone().is_some() && user_info.clone().unwrap().has_premium %}
  <div class="flex items-center justify-center flex-col">
    <form
      class="flex items-center justify-center flex-col"
      hx-post="/premium/cancel"
    >
      <p class="text-white text-2xl">
        Do you really want to cancel your premium subscribtion?
      </p>
      <button
        class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
      >
        Procced
      </button>
    </form>
  </div>
  {% else %}
  <div class="flex items-center justify-center flex-col">
    <form
      class="flex items-center justify-center flex-col gap-4"
      hx-post="/premium/subscribe"
      hx-target="#premium_page_content"
      hx-swap="outerHTML"
    >
      <p class="text-white text-2xl">
        Do you really want to buy premium subscribtion?
      </p>
      <p class="text-xl text-cyan-200">Only for 4.49$/month!</p>
      <button
        class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
      >
        Procced
      </button>
    </form>
    {% endif %}
  </div>
</div>
