<div class="flex items-center justify-center flex-col">
  <form
    class="flex items-center justify-center flex-col"
    hx-post="/premium/cancel"
  >
    <p class="text-white text-2xl">
      Congratulations! You have successfully subscribed to premium!
    </p>
    <a
      href="/"
      class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white"
    >
      Home
    </a>
  </form>
</div>
