

    {% if already_logged_in %}
    {% include
        "./common/user_already_logged.html" %}
    {% else %} 
    <p class="text-3xl text-white">Welcome to Cumhub!</p>

    <form class="flex flex-col items-center w-2/5 h-auto py-10 bg-gray-800 rounded-xl"
          hx-post="/register" hx-push-url="true">
        <!--REGISTER CONTAINER-->
        <div id="register_container" class="flex flex-col items-center w-full h-auto pb-10 bg-gray-800 rounded-xl">
            
            <a href="/" class="flex justify-start w-full pl-8 mb-4">
                <span class="text-gray-400 material-symbols-outlined">
                    arrow_back_ios
                </span>
            </a>
            
            <div id="username_div" class="w-[90%] flex flex-col gap-2 mb-8">
                <label for="username_input" class="text-xl text-white">
                    Username:
                </label>
                <div id="username_input_div"
                    class="px-2 username_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
                    hx-on:click="{
                        document.getElementById('username_input').focus();
                    }">
                    <span class="text-white material-symbols-outlined">
                        person
                    </span>
                    <input name="username" id="username_input" hx-on:focus="{
                            document.getElementById('username_input_div').classList.remove('border-white'); 
                            document.getElementById('username_input_div').classList.add('border-cyan-300');
                        }" hx-on:blur="{
                            document.getElementById('username_input_div').classList.remove('border-cyan-300');      
                            document.getElementById('username_input_div').classList.add('border-white');                   
                        }" placeholder="Username"
                        class="w-full text-white h-full bg-transparent !outline-none" />
                </div>
            </div>
            <div id="email_div" class="w-[90%] flex flex-col gap-2 mb-8">
                <label for="email_input" class="text-xl text-white">
                    Email:
                </label>
                <div id="email_input_div"
                    class="px-2 email_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
                    hx-on:click="{
                        document.getElementById('email_input').focus();
                    }">
                    <span class="text-white material-symbols-outlined">
                        person
                    </span>
                    <input id="email_input"
                           name="email"
                           hx-on:focus="{
                            document.getElementById('email_input_div').classList.remove('border-white'); 
                            document.getElementById('email_input_div').classList.add('border-cyan-300');
                        }" hx-on:blur="{
                            document.getElementById('email_input_div').classList.remove('border-cyan-300');      
                            document.getElementById('email_input_div').classList.add('border-white');                   
                        }" placeholder="Email"
                        class="w-full text-white h-full bg-transparent !outline-none" />
                </div>
            </div>

            <div id="profile_pic_div" class="w-[90%] flex flex-col gap-2 mb-8">
                <label for="profile_pic_input" class="text-xl text-white">
                    Profile picture url:
                </label>
                <div id="profile_pic_input_div"
                     class="px-2 profile_pic_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
                     hx-on:click="{
                        document.getElementById('profile_pic_input').focus();
                    }">
                    <span class="text-white material-symbols-outlined">
                        person
                    </span>
                    <input id="profile_pic_input"
                           name="profile_pic"
                           hx-on:focus="{
                            document.getElementById('profile_pic_input_div').classList.remove('border-white');
                            document.getElementById('profile_pic_input_div').classList.add('border-cyan-300');
                        }" hx-on:blur="{
                            document.getElementById('profile_pic_input_div').classList.remove('border-cyan-300');
                            document.getElementById('profile_pic_input_div').classList.add('border-white');
                        }" placeholder="profile_pic"
                           class="w-full text-white h-full bg-transparent !outline-none" />
                </div>
            </div>

            <div id="password_div" class="w-[90%] flex flex-col gap-2">
                <label for="password_input" class="text-xl text-white">
                    Password:
                </label>
                <div id="password_input_div"
                    class="px-2 password_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
                    hx-on:click="{
                        document.getElementById('password_input').focus();
                    }">
                    <span class="text-white material-symbols-outlined">
                        lock
                    </span>
                    <input name="password" type="password" id="password_input" hx-on:focus="{
                            document.getElementById('password_input_div').classList.remove('border-white'); 
                            document.getElementById('password_input_div').classList.add('border-cyan-300');
                        }" hx-on:blur="{
                            document.getElementById('password_input_div').classList.remove('border-cyan-300');      
                            document.getElementById('password_input_div').classList.add('border-white');                   
                        }" placeholder="Password" class="w-full text-white h-full bg-transparent !outline-none" />
                </div>
                <span id="password_error" class="invisible text-sm text-red-800">Password must have one lowercase letter, one capital letter, one number and has at least 8 characters!</span>
            </div>

            <div id="password_confirm_div" class="w-[90%] flex flex-col gap-2">
                <label for="password_confirm_input" class="text-xl text-white">
                    Password Again:
                </label>
                <div id="password_confirm_input_div"
                    class="px-2 password_input_div border-white border-2 flex h-[4.5rem] w-full items-center gap-2 rounded-lg"
                    hx-on:click="{
                        document.getElementById('password_confirm_input').focus();
                    }">
                    <span class="text-white material-symbols-outlined">
                        lock
                    </span>
                    <input type="password" id="password_confirm_input" hx-on:focus="{
                            document.getElementById('password_confirm_input_div').classList.remove('border-white'); 
                            document.getElementById('password_confirm_input_div').classList.add('border-cyan-300');
                        }" hx-on:blur="{
                            document.getElementById('password_confirm_input_div').classList.remove('border-cyan-300');      
                            document.getElementById('password_confirm_input_div').classList.add('border-white');                   
                        }" placeholder="Password" class="w-full text-white h-full bg-transparent !outline-none" />
                </div>
                <span id="password_confirm_error" class="invisible text-sm text-red-800">Passwords must match!</span>
            </div>
        
            <button type="submit"
                class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white">
                Submit
            </button>
            <div class="flex justify-center w-full gap-4 px-10 mt-10">
                <p class="text-white">
                    Already have an account?
                </p>
                <a type="button" class="text-blue-500" href="/login">
                    Sign in
                </a>
            </div>
    </form>
    {% endif %}  