<!--PAGE CONTENT-->
<div
  id="main_page_content"
  class="w-full min-h-[100vh] flex flex-col justify-center items-center overflow-scroll ml-48"
>
  {% include "common/user_bar.html" %}
  <div
    id="video_wrapper"
    class="w-[85%] h-[110vh] rounded-lg bg-gray-800 flex flex-col items-center mt-10"
  >
    <a href="/" class="w-full flex justify-start pl-8 mt-4">
      <span class="material-symbols-outlined text-gray-400">
        arrow_back_ios
      </span>
    </a>
    <div
      id="category_header"
      class="w-full pl-12 pt-2 flex justify-between px-10"
    >
      <p class="text-white text-2xl mb-2 ml-10">{{ video.title }}</p>
    </div>

    <video
      id="videoPlayer"
      autoplay
      controls
      name="media"
      class="video_player aspect-video bg-white"
    >
      Your browser does not support the video tag.
    </video>

    <!--VIDEO INFO-->
    <div class="w-full flex justify-between items-center px-20 mt-4 mb-5">
      <!--ACCOUNT INFO-->
      <div
        id="account_info"
        class="w-[50%] flex justify-start items-center gap-4"
      >
        <a href="/profile/{{ channel_info.id }}">
          <div
            id="profile_pic"
            class="w-[3rem] h-[3rem] bg-white rounded-[2rem]"
          ></div>
        </a>
        <div class="flex flex-col">
          <a href="/profile/{{ channel_info.id }}">
            <p class="text-white text-xl">{{ channel_info.username }}</p>
          </a>
          <p class="text-gray-400 text-lg">{{ channel_info.subscribers }}</p>
        </div>
      </div>

      <!--VIDEO STATS-->
      {% include "video_page/video_stats.html" %}

      <!-- DESCRIPTION -->
      <div
        class="description min-h-[50px] mt-10 w-[85%] bg-gray-800 rounded-lg text-white p-3 flex items-center"
      >
        {% if video.description.is_some() %}
        <p>{{ video.description.as_ref().unwrap() }}</p>
        {% else %}
        <p><i>This video has no description.</i></p>
        {% endif %}
      </div>
    </div>

    <!--COMMENTS-->
    <div
      class="comments max-h-[426px] min-h-[100px] mt-10 w-[85%] bg-gray-800 rounded-lg text-white p-3 flex flex-col gap-4 mb-5"
    >
      <h3 class="text-2xl mb-2 items-center">Comments</h3>
      {% include "common/comments.html" %} {% if already_logged_in %}
      <form
        class="comment_input w-[100%] flex items-center gap-3 text-indigo-400"
        hx-post="/video/{{ video.id }}/comment"
        hx-target="#commentsList"
        hx-swap="outerHTML"
      >
        <textarea
          id="commentText"
          name="content"
          maxlength="255"
          rows="3"
          placeholder="Enter your comment"
          class="text-lg w-[90%] resize-none text-black rounded-sm p-1"
        ></textarea>
        <button
          type="submit"
          class="w-[10%] border-indigo-400 h-full border-2 rounded-sm hover:border-indigo-500"
        >
          Submit
        </button>
      </form>
      {% else %}
      <div class="text-lg text-red-500 text-center py-3">
        You must be logged in to post comments.
      </div>
      {% endif %}
    </div>
  </div>
</div>
