{% let like_style -%}
{% if already_liked.is_some() && already_liked.unwrap()  -%}
  {% let like_style = "border-2 border-xl border-green-700" -%}
{% else -%}
  {% let like_style = "" -%}
{% endif -%}
{% let dislike_style -%}
{% if already_disliked.is_some() && already_disliked.unwrap() -%}
  {% let dislike_style = "border-2 border-xl border-red-700" -%}
{% else -%}
  {% let dislike_style = "" -%}
{% endif -%}

<!--VIDEO STATS-->
 <div id="video_stats" class="w-[50%] flex justify-end gap-4 items-center">
    {% if already_logged_in %}
    <!--LIKE/DISLIKE FORM -->
    <div class="flex gap-2 items-center">

        <button
          hx-post="/video/{{ video.id }}/like"
          hx-trigger="click"
          hx-target="#video_stats"
          hx-swap="outerHTML"
          id="like_button"
          class="material-symbols-outlined text-green-700 hover:pb-[2px] hover:pr-[1px] {{ like_style }}"
        >
          thumb_up
          </button>
          <p id="ratingCount" class="text-white">Karma: {{ video.likes }}</p>
          <button
          hx-post="/video/{{ video.id }}/dislike"
          hx-trigger="click"
          hx-target="#video_stats"
          hx-swap="outerHTML"
          id="like_button"
          class="material-symbols-outlined text-red-700 hover:pb-[2px] hover:pr-[1px] {{ dislike_style }}"
        >
          thumb_down
          </button>

    </div>
    {% else %}
    <div class="flex gap-2">
      <div class="text-lg text-red-500 text-center py-3">
        You must be logged in to rate videos.
      </div>
      {% if video.likes >= 0 %}
      <span class="material-symbols-outlined text-green-700">
        thumb_up
      </span>
      {% else %}
      <span class="material-symbols-outlined text-red-700">
        thumb_down
      </span>
      {% endif %}
      <p class="text-white">{{ video.likes }}</p>
    </div>
    {% endif %}
    <div class="flex gap-2">
      <span class="material-symbols-outlined text-slate-400">
        visibility
      </span>
      <p class="text-white">{{ video.views }}</p>
    </div>
  </div>
</div>