<div id="channel_list" class="flex flex-col w-full gap-4 px-10 pl-12 my-4">
  <form
    class="w-full flex justify-end gap-4 mb-2"
    hx-post="/subscribed/channels"
    hx-target="#channel_list"
    hx-swap="outerHTML"
  >
    <input
      name="search"
      id="channel_search"
      value="{{channel_search}}"
      placeholder="Search channels"
    />
    <button class="search_button py-1 px-2 rounded-md" type="submit">
      Search
    </button>
  </form>
  <div class="flex flex-col w-full overflow-x-scroll gap-2 overflow-x-scroll">
    <h3 class="text-white text-xl">Subscribed Channels</h3>
    <div
      class="flex justify-between flex-row min-w-full overflow-x-scroll gap-10 px-10 h-[8rem]"
    >
      {% if channels.len() == 0 %}
      <div class="w-full h-full flex items-center">
        <h3 class="text-white text-xl text-gray-600">
          No subscribed channels...
        </h3>
      </div>
      {% endif %} {% for current_channel in channels %} {% include
      "subscribed_page/channel/channel_item.html" %} {% endfor %}
    </div>
  </div>
</div>
