<div
  id="channel{{current_channel.id}}"
  class="flex text-white items-center content-center justify-around border-2 rounded-lg border-gray-400 py-2 min-w-[20rem]"
>
  <img
    href="/profile/{{current_channel.id}}"
    class="profile_image rounded-full bg-white"
    src='{{ current_channel.profile_picture.clone().unwrap_or("".to_string()) }}'
    alt="profile picture"
  />

  <div class="h-full flex flex-col gap-2 justify-center">
    <a href="/profile/{{current_channel.id}}">{{ current_channel.username }}</a>
    <h6 class="text-gray-400">{{ current_channel.subscribers }} Subscribers</h6>
    <button
      class="disabled:opacity-75 disabled:bg-gray-600 bg-red-700 hover:bg-red-800 p-3 text-white rounded-md"
    >
      Unsubscribe
    </button>
  </div>
</div>

<style>
  .profile_image {
    object-fit: cover;
    width: 6rem !important;
    height: 6rem !important;
  }
</style>
