<div id="category_header" class="w-full pl-12 pt-8 flex justify-between px-10">
    <div class="w-full flex gap-4 justify-end">
        <form id="search_form" hx-params="*" hx-push-url="true" hx-post="" hx-target="#content_grid" hx-swap="outerHTML" class="w-full flex gap-4 justify-end">
            <input name="search" value="{{title_substring}}" type='text' placeholder="Search" class='h-[2rem] w-[30%] border-cyan-300'>
            <button type="submit" class="search_button py-1 px-2 rounded-md">Search</button>
            <select  hx-swap="outerHTML" name="sort" id="sort_by" class="rounded-md">
                <option {% if sort_by == "" || sort_by == "Newest"  %} selected {% endif %} value="Newest">Newest</option>
                <option {% if sort_by == "Oldest" %} selected {% endif %} value="Oldest">Oldest</option>
                <option {% if sort_by == "Most_liked" %} selected {% endif %} value="Most_liked">Most liked</option>
                <option {% if sort_by == "Most_disliked" %} selected {% endif %} value="Most_disliked">Most disliked</option>
                <option {% if sort_by == "Most_viewed" %} selected {% endif %} value="Most_viewed">Most viewed</option>
            </select>
        </form>
    </div>
</div>