<!--PAGE CONTENT-->
<div id="main_page_content" class="w-full h-[100vh] flex flex-col ml-48">
  {% include "common/user_bar.html" %}
  <p class="w-full pl-[4rem] text-white text-2xl">{{ category }}</p>
  {% include "index_page/filter_bar.html" %}
  <!--VIDEO GRID-->
  {% include "common/video_grid.html" %}
</div>
