<p class="text-white text-3xl">Welcome back!</p>

<form hx-post="/login" hx-push-url="true" hx-target="#body" hx-swap="outerHTML" class="w-2/5 h-auto py-10 bg-gray-800 rounded-xl flex flex-col items-center" >
    <!--LOGIN CONTAINER-->
    <div id="login_container" class="w-full h-auto pb-10 bg-gray-800 rounded-xl flex flex-col items-center">
        
        <a href="/" class="mb-4 w-full flex justify-start pl-8">
            <span class="material-symbols-outlined text-gray-400">
                arrow_back_ios
            </span>
        </a>

        <div id="username_div" class="h-[5.5rem] w-[90%] flex flex-col gap-2 mb-2">
            <label for="username_input" class="text-white text-xl">
                Username:
            </label>
            <div id="username_input_div"
                class="px-2 username_input_div border-white border-2 flex h-full w-full items-center gap-2 rounded-lg"
                hx-on:click="{
                    document.getElementById('username_input').focus();
                }">
                <span class="material-symbols-outlined text-white">
                    person
                </span>
                <input name="username" id="username_input" hx-on:focus="{
                        document.getElementById('username_input_div').classList.remove('border-white'); 
                        document.getElementById('username_input_div').classList.add('border-cyan-300');
                    }" hx-on:blur="{
                        document.getElementById('username_input_div').classList.remove('border-cyan-300');      
                        document.getElementById('username_input_div').classList.add('border-white');                   
                    }" placeholder="Username or email"
                    class="w-full text-white h-full bg-transparent !outline-none" />
            </div>

        </div>

        <div id="password_div" class="h-[5.5rem] w-[90%] flex flex-col gap-2">
            <label for="password_input" class="text-white text-xl">
                Password:
            </label>
            <div id="password_input_div"
                class="px-2 password_input_div border-white border-2 flex h-full w-full items-center gap-2 rounded-lg"
                hx-on:click="{
                    document.getElementById('password_input').focus();
                }">
                <span class="material-symbols-outlined text-white">
                    lock
                </span>
                <input name="password" type="password" id="password_input" hx-on:focus="{
                        document.getElementById('password_input_div').classList.remove('border-white'); 
                        document.getElementById('password_input_div').classList.add('border-cyan-300');
                    }" hx-on:blur="{
                        document.getElementById('password_input_div').classList.remove('border-cyan-300');      
                        document.getElementById('password_input_div').classList.add('border-white');                   
                    }" placeholder="Password" class="w-full text-white h-full bg-transparent !outline-none" />
            </div>
        </div>
        {% if login_error_message.is_some() %}
        <p class="text-red-800 text-lg">
            {{ login_error_message.clone().unwrap() }}
        </p>
        {% endif %}


        <div class="w-full flex justify-start pl-10 mt-2">
            <button type="button" class="text-blue-500" hx-on:click="{
                document.querySelector('dialog').showModal();
            }">
                Forgot password?
            </button>
        </div>
        <dialog class="rounded-lg">
            <div class="p-4 flex flex-col">
                <div class="flex w-full justify-end mb-2">
                    <button type="button" hx-on:click="{
                        document.querySelector('dialog').close();
                    }">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                </div>
                Unlucky, you forgot your password.
            </div>
        </dialog>
        <button type="submit"
            class="w-2/5 h-[4rem] mt-4 rounded-md mb-4 text-lg bg-blue-700 hover:bg-blue-800 text-white">
            Submit
        </button>
        <div class="w-full flex justify-center gap-4 px-10 mt-10">
            <p class="text-white">
                New to Cumhub?
            </p>
            <a href="/register" class="text-blue-500">
                Register
            </a>
        </div>
</form>