<div id="main_page_content" class="w-full min-h-[100vh] flex flex-col  items-center overflow-scroll ml-48">
    {% include "common/user_bar.html" %}
    <div id="account_info" class="w-[95%] h-[15rem] rounded-lg bg-gray-800 flex gap-4 items-center mt-10 px-4">

            <img class="w-[7rem] h-[7rem] bg-white rounded-[4rem] bg-white"
                 src="{{
        channel_pic_url.clone().unwrap_or("https://wallpapers-clan.com/wp-content/uploads/2022/08/default-pfp-19.jpg".to_string()).to_string()
            }}" alt="KURVA" />

        <div class="w-[20%] flex flex-col border-r-2 border-gray-400">
            <p class="text-white text-2xl">{{ profile_name }}</p>
            <p class="text-gray-300 text-lg">{{ subscribers }} Subscribers</p>
        </div>
        <div class="w-[55%]">
            <p class="text-gray-300">
                {{ profile_description }}
            </p>
        </div>
        {% if already_logged_in %}
            <button hx-on:click="{
                // TODO proper endpoint
                let textContent = document.getElementById('subscribe_button').textContent
                if(textContent == 'Subscribe'){
                    document.getElementById('subscribe_button').textContent = 'Unsubscribe';
                    return
                }
                document.getElementById('subscribe_button').textContent = 'Subscribe';
            }" id="subscribe_button" class="disabled:opacity-75 disabled:bg-gray-600 bg-blue-700 hover:bg-blue-800 p-3 text-white rounded-md">
                {% if user_subscribed %}
                    Unsubscribe
                {% else %}
                    Subscribe
                {% endif %}   
            </button>
        {% else %}
            <button id="subscribe_button" class="disabled:opacity-75 disabled:bg-gray-600 bg-blue-700 hover:bg-blue-800 p-3 text-white rounded-md" disabled>
                Subscribe
            </button>
        {% endif %}
    </div>

    {% include "profile_page/filter_bar.html" %}
    {% include "common/video_grid.html" %}

</div>